*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
input:hover{
    transition: .3s ease-in-out;
    transform: scaleX(1.02);
}
::placeholder{
    color:rgb(207, 207, 207);
    opacity: 1;
    font-size: 15px;
    font-style: italic;
    mix-blend-mode: luminosity;
}

body {
    height: 100vh;
    background-color: rgb(235, 235, 235);
    

}
.todo_menu_left{
   position: relative;
   width: 430px;
    height: 100vh;
    padding-right: 10px;
    background: linear-gradient(136.46deg, #4E88E0 -12.62%, #823BB9 114.35%);
    mix-blend-mode: normal;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    
    
}

.todo{  
    display: flex;
    height: 100%;
}
.todo_right{
    width: 100%;

}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(101.68deg, #549DE0 -11.35%, #442C6A 105.04%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo_block{
    width:70%;
    
}

.logo{
    font-size: 40px;
    font-style: normal;
    color:white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input_menu_search{
    outline: none;
    margin: 0px 20px 0px 0px;
    color:white;
    padding: 5px  ;
    background: none;
    border:0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    

}
.menu_search_block{
    display: flex;
    margin: 60px 0px 0px 50px;
}

.menu_add_block{

    display: flex;
    margin: 60px 0px 0px 50px;
}
.input_menu_add_item{
    outline: none;
    margin: 0px 20px 0px 0px;
    color:white;
    padding: 5px  ;
    background: none;
    border:0px;
    border-bottom: 2px solid white;
    font-size: 16px;
}
.svg-icon{
    cursor: pointer;
    
}
.svg-icon.value{
    fill:rgb(109, 109, 109)
}
.svg-icon:hover{
    transition: .1s;
    transform: scale(1.0);
}
.svg-icon_done{
    fill: rgb(172, 172, 172);
    cursor: pointer;
}
.del{
    fill: rgb(245, 91, 91);
    stroke:  rgb(245, 91, 91);
    stroke-width: 0.2px;
}
.done{
    fill: rgb(117, 117, 117);
    /* stroke:  rgb(124, 124, 124); */
    stroke-width: 0.5px;
}
.done.yes{
    fill: #1ad10c;
    /* stroke:  rgb(124, 124, 124); */
    stroke-width: 0.5px;
}
.important{
    margin-right: 20px;
    stroke:rgb(184, 184, 184);
    stroke-width: 0.3px;
}
.important.yes{
    stroke: #f4af14;
    stroke-width: 1;
}
.remove{
    fill:rgb(165, 165, 165);
    margin-right: 20px;
}
.remove:hover{
    fill:rgb(100, 100, 100);
}
.items_left_block{  
    margin: 75px 0px 0px 50px;
}

.item_left{
    display: flex;
    color:white;
    align-items: center;
    margin-top: 10px;
}
.item_text{
    font-weight:100;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block_item_text{
    width: 80%;
}
.item_right_block{
    width: 80%;
    margin: 80px auto;
    align-items: center;
    
}
.item_right_title{
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    color: rgb(109, 109, 109);
    padding: 0px 0px 10px 0px;
}
.item_right_title_box{
    width: 80%;
}
.input_right{
    width: 400px;
    font-weight: 500px;
    outline: none;
    margin: 0px 20px 0px 0px;
    color:rgb(65, 65, 65);
    padding: 5px  ;
    background: none;
    border:0px;
    border-bottom: 2px solid #d1d1d1;
    font-size: 16px;
}
.menu_add_block_right{
    display: flex;
}
.values_right_block{
    margin-top: 100px;
}
.item_right_block_title{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    
}
.value_right{   
    margin:0px 20px 0px 20px;
    width: 70%; 
    border-bottom: 2px solid rgb(224, 224, 224);
    padding: 5px 0px 5px 20px;
    

}
.value_text{  
    color:#525252;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.value_right_all{
    margin-top: 20px;
    display: flex;
    align-items: center;

}

.input_right ::placeholder{ 
    color:red

}


.togle{
    margin-right: 50px;
}
.black_label{
    color:rgb(224, 224, 224);
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
      margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 15px;
    background: #EF476F;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 1px;
    left: 1.5px;
    width: 13px;
    height: 13px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }